# Server
PORT=5590
ENV=development
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public

X_STACK_ACCESS_TYPE=server
X_STACK_PROJECT_ID=Stack Auth Project ID
X_STACK_SECRET_SERVER_KEY=Stack Auth Secret Server Key