# Server
PORT=5590
ENV=development
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public
DISCORD_LOG_CHANNEL=WEBHOOK_CHANNEL_ID
DISCORD_LOG_CHANNEL_TOKEN=WEBHOOK_TOKEN

# Firebase
TYPE=service_account
PROJECT_ID=your-project-id
PRIVATE_KEY_ID=your-private-key-id
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
CLIENT_ID=your-client-id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project-id.iam.gserviceaccount.com
UNIVERSE_DOMAIN=googleapis.com
